<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Emergency Contacts" style="background: #ecf0f1;">
  <ion-content class="padding">
	<div class="list" ng-repeat="user in userlist">
	    <li class="item">
	      <h2><strong>{{user.title}}</strong></h2>
	      <p style="color: #16a085">{{user.name}}</p>
	      <p>{{user.address}}</p>
	      <p>{{user.phone}}</p>
	    </li>
	</div>
  </ion-content>
</ion-view>
