
<ion-view class="app-tabbed-view">
  <ion-pane>
    <ion-tabs class="tabbed-navigation tabs-icon-top">
      <ion-tab title="Feeds" icon-off="cmc-icon-timeline" icon-on="cmc-icon-timeline" href="#/tab/timeline">
        <ion-nav-view name="tab-timeline"></ion-nav-view>
      </ion-tab>
      <ion-tab title="My CMC" ng-click="goToTiles()" icon-off="cmc-icon-mycmc" icon-on="cmc-icon-mycmc" badge="notificationCount" badge-style="badge-assertive" href="#/main/mycmc-directory/directory">
        <ion-nav-view name="mycmc-directory"></ion-nav-view>
      </ion-tab>
      <ion-tab title="My Account" icon-off="cmc-icon-more" icon-on="cmc-icon-more" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-pane>
</ion-view>
