<ion-view view-title="Make an Announcement">
  <ion-content class="" >
	<div class="list">
	   <label class="item item-input item-floating-label">
	   <span class="input-label">Content</span>
	   <textarea type="text" placeholder="Content" ng-model="data.content"></textarea> 
	   </label>

		<label class="item item-input item-select">
		    <div class="input-label">
		    Audience
		    </div>
		    <select ng-model="data.for">
		        <option value="0">All Users</option>
		        <option value="55">Batch 55</option>
		        <option value="56">Batch 56</option>
		        <option value="57">Batch 57</option>
		        <option value="58">Batch 58</option>
		        <option value="59">Batch 59</option>
		        <option value="60">Batch 60</option>
		    </select>
		</label>	   
	   <p style="color: #e74c3c; padding: 10px" ng-if="errorFlag">{{errorMsg}}</p>
	   <button class="button button-block button-calm" ng-click="postAnnouncement()">Post</button>
	</div>
  </ion-content>
</ion-view>