<ion-view view-title="Post on Timeline">
  <ion-content class="" >

	<div class="list">
	   <label class="item item-input item-floating-label">
	   <span class="input-label">Title</span>
	   <input type="text" placeholder="Title" ng-model="data.title">
	   </label>

	   <label class="item item-input item-floating-label">
	   <span class="input-label">Content</span>
	   <textarea type="text" placeholder="Content" ng-model="data.content"></textarea>
	   </label>

	   <p style="color: #e74c3c; padding: 10px" ng-if="errorFlag">{{errorMsg}}</p>
     <div ng-if="adminFlag">
       <button ng-if="isFotoAttached" class="button button-block button-balanced" ng-click="pickImageFromGallery()">Photo Attached</button>
       <button ng-if="!isFotoAttached" class="button button-block button-stable" ng-click="pickImageFromGallery()">Attach Photo</button>
     </div>
	   <button class="button button-block button-calm" ng-click="postTimeline()">Post</button>




	</div>

  </ion-content>
</ion-view>
