<ion-view view-title="Union Members" style="background: #ecf0f1;" hide-nav-bar="true">

      <ion-header-bar class="bar-positive">
         <div class="buttons" style="position: absolute; top: 5px; left: 5px; bottom: 5px; width: 100%">

            <button class="button button-clear" style="text-align: left; margin-left: 10px; font-weight: 500; color: #FFF; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 18px;">
             The College Union
            </button>  

            <button class="button button-clear clearSearchFilterButton" style="position: absolute; top: 0px; right: 10px;" ng-click="goToTiles()">
              <i class="icon ion-navicon"></i> 
            </button>  


         </div>

      </ion-header-bar>
  <ion-content class="padding">


  <ion-refresher
    on-refresh="doRefresh()">
  </ion-refresher>




<!-- Loader Dummy Tiles -->
<div ng-if="!isRenderLoaded && !renderFailed">
    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>

    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>

    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>

    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>

    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>
</div>

<div ng-if="renderFailed" style="padding: 40px 20px 20px 20px;">
  <center>
    <img src="img/error_icon.png">
    <p style="color: #e88f8f; margin: 10px; font-size: 15px;">Unable to fetch data. Try again.</p>
  </center>
</div>


	<h1 ng-if="userlist.length > 1" style="font-weight: 300; font-size: 32px; color: rgb(237, 78, 139); border-bottom: 1px solid rgb(238, 97, 102); margin-top: 10px">Union Members</h1>

	<div class="list" ng-repeat="user in userlist" style="margin-bottom: 5px">
	    <a class="item item-thumbnail-left eventHead1" href="tel:{{user.userID}}">
	      <img src="http://cmcair.in/images/people/{{user.userID}}.jpg" on-error-src="../img/default-person.png">
	      <h2 style="color: #FFF"><strong>{{user.userName}}</strong></h2>
	      <p style="color: #8a1d3f">{{user.userBatch}}</p>
	      <p style="color: #8a1d3f">{{user.userID}}</p>
	    </a>
	</div>


	<h1 ng-if="headlist.length > 1" style="font-weight: 300; font-size: 32px; color: #95c93e; border-bottom: 1px solid rgb(93, 184, 122); margin-top: 10px">Batch Heads</h1>

	<div class="list" ng-repeat="user in headlist" style="margin-bottom: 5px">
	    <a class="item item-thumbnail-left eventHead2" href="tel:{{user.userID}}">
	      <img src="http://cmcair.in/images/people/{{user.userID}}.jpg" on-error-src="../img/default-person.png">
	      <h2 style="color: #FFF"><strong>{{user.userName}}</strong></h2>
	      <p style="color: #366557">{{user.userBatch}}</p>
	      <p style="color: #366557">{{user.userID}}</p>
	    </a>
	</div>


  </ion-content>
</ion-view>
