<ion-view view-title="More">
  <ion-content>
	<div class="list">

	  <a class="item item-icon-left" href="#/tab/more" style="color: #7f8c8d;">
	    <i class="icon ion-edit"></i>
	    Post Content
	  </a>		 

	  <a class="item item-icon-left" href="#/tab/more/infinity" style="color: #7f8c8d;">
	    <i class="icon ion-paper-airplane"></i>
	    Reach
	  </a>	 

	  <a class="item item-icon-left" href="#/tab/infinity-secretary" style="color: #7f8c8d;">
	    <i class="icon ion-gear-a"></i>
	    Settings
	  </a>	  

	   

	</div>

	
  </ion-content>
</ion-view>
