<ion-view view-title="Settings">
  <ion-content class="" >
  <div class="list">

    <a class="item item-icon-left" href="#/tab/post-timeline">
      <i class="icon ion-ios-bookmarks-outline"></i>
      Post on Timeline
    </a>

    <a class="item item-icon-left" href="#/tab/post-event">
      <i class="icon ion-ios-calendar-outline"></i>
      Post an Event
    </a>

    <a class="item item-icon-left" href="#/tab/post-announcement">
      <i class="icon ion-ios-bell-outline"></i>
      Announcement
    </a>

  </div>

  </ion-content>
</ion-view>