<ion-view view-title="Settings" hide-nav-bar="true">

      <ion-header-bar class="bar-positive">
         <div class="buttons" style="position: absolute; top: 5px; left: 5px; bottom: 5px; width: 100%">

            <button class="button button-clear" style="text-align: center; margin-left: 10px; font-weight: 500; color: #FFF; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 18px;">
             My Account
            </button>  
         </div>

      </ion-header-bar>


  <ion-content class="" style="margin-bottom: 80px;">

    <ion-refresher
    on-refresh="checkStatus()">
  </ion-refresher>



  <div class="list">

    <div ng-if="flag">
      <div ng-if="adminFlag" class="item item-divider eventHead5" style="color: #FFF; border-top: 0">
            Admin Features
      </div>
      <div ng-if="!adminFlag" class="item item-divider eventHead5" style="color: #FFF; border-top: 0">
            Make a Post
            <p style="color: #bdc3c7"></p>
      </div>

      <a class="item item-icon-left" style="color: #bd3b58; border-color: #f5f5f5;" href="#/tab/post-timeline">
        <i class="icon ion-compose" style="color: #bd3b59"></i>
        Post on Timeline
      </a>

      <a ng-if="adminFlag" class="item item-icon-left" style="color: #bd3b58; border-color: #f5f5f5;" href="#/tab/post-event">
        <i class="icon ion-calendar" style="color: #bd3b59"></i>
        Create an Event
      </a>

      <a ng-if="adminFlag" class="item item-icon-left" style="color: #bd3b58; border-color: #f5f5f5;" href="#/tab/post-announcement">
        <i class="icon ion-android-microphone" style="color: #bd3b59"></i>
        Make an Announcement
      </a>

    </div>
    <div ng-if="!flag" class="padding" style="background: #e74c3c">
      <p style="color: #FFF; font-size: 14px; font-weight: 400; margin: 0;"><tag style="color: #e74c3c; font-size: 80%; background: #FFF; padding: 3px 5px; font-weight: bold; border-radius: 2px;">ACCOUNT NOT VERIFIED</tag> You will get Access to post on the App only after the verification by the Editor. It usually takes 24 - 48 Hrs after completing the One Time Registration. In case it takes more time please contact <b>editor@cmcair.in</b></p>
    </div>



    <div class="item item-divider" style="">
          User Information
    </div>
    <li class="item item-icon-left" style="color: #9aa6ad;">
      <i class="icon ion-person"></i>
      {{userdata.name}}
    </li>
    <li class="item item-icon-left" style="color: #9aa6ad; border-color: #fbfbfb;">
      <i class="icon ion-ios-telephone"></i>
      {{user_mob}}
    </li>
    <li class="item item-icon-left item-text-wrap" style="color: #9aa6ad; border-color: #fbfbfb; font-size: 80%; padding: 2px 10px 6px 12px; border-top: none;">
      Logged in since {{userdata.lastlogin}}
    </li>
    <div class="item item-divider" style="">
          Actions
    </div>

    <ion-toggle
      ng-model="pushNotification.checked"
      ng-change="pushNotificationChange()"
      ng-disabled="1">
      Notifications
    </ion-toggle>

    <li class="item item-icon-left" style="color: #c0392b; border-color: #fbfbfb;" ng-click="logoutMe()">
      <i class="icon ion-log-out"></i>
      Logout
    </li>


  </div>

  </ion-content>

    <center style="position: absolute; bottom: 49px; left: 0; width: 100%; z-index: 1000; background: #fffefb; border-top: 2px solid #f3e1eb;">
      <p style="margin-top:10px; color:#505050; font-size: 12px;">Made with <i style="color: #F7384F; padding-top: 5px;" class="icon ion-heart"></i> by <a style="text-decoration: none;" onclick="window.open('https://www.accelerate.net.in', '_system', 'location=yes'); return false;" href="#">Accelerate</a></p>
      <p style="margin-top: -10px; color: #8c8d8e; font-size: 11px; font-weight: 400; width: 60% !important; line-height: 12px;">Designed and developed by Abhijith C S and Anas Jafry &#169; 2018 | Version 3.0.3</p>
    </center>


</ion-view>
