<ion-view view-title="Announcements" style="background: #ecf0f1">
  <ion-content class="padding">

  <button ng-if="tableMetaData.flag" class="button button-block button-energized" style="background: #2c3e50;color: #f39c12">
    {{tableMetaData.title}}
  </button>

  <ion-list ng-if="tableMetaData.flag" class="list" ng-repeat="item in tableList track by $index" style="margin-top: 300px;">
    <li class="item item-icon-left item-icon-right" style="background: #34495e; color: #ecf0f1">
      <i class="icon" style="font-size:20px;">#{{item.rank}}</i>
      {{item.title}}
      <i class="icon" style="font-size:20px;">{{item.points}}</i>
    </li>

  </ion-list>


  <ion-refresher
    on-refresh="doRefresh()">
  </ion-refresher>

    <ion-list ng-repeat="feed in feedsList track by $index">
      <ion-item class="card neatBorder" id="ann_{{feed.postID}}">


        <div class="item item-body">
          <p style="color: #16a085; font-size: 21px; line-height: 24px; font-weight: 300;">{{feed.content}}</p>
          <p style="font-size: 12px;"><i class="icon ion-person"></i> {{feed.user}} ({{feed.role}})<br>
          <tag style="color:#B6B6B6"><i class="icon ion-ios-clock-outline"></i> {{feed.time}}</tag>
          <i ng-if="feed.selfFlag" on-hold="deleteAnnouncement(feed.postID, $index)" class="icon ion-trash-a pull-right" on-tap="deleteAnnouncement(feed.postID, $index)" id="{{feed.postID}}" style ="color:#e74c3c; float: right; font-size: 21px;"></i></p>
        </div>


      </ion-item>
    </ion-list>
    <i ng-if="!left"><center><img src="img/end.png"></center></i>

  <ion-infinite-scroll
        immediate-check="false"
        ng-if="left"
    on-infinite="loadMore()"
    distance="1%">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>
