<ion-view view-title="Feeds" style="background: #ecf0f1;">
  <ion-content class="padding">

  <ion-refresher
    on-refresh="doRefresh()">
  </ion-refresher>




<!-- Loader Dummy Tiles -->
<div ng-if="!isRenderLoaded && !renderFailed">
    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>

    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>

    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>

    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>

    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>
</div>

<div ng-if="renderFailed" style="padding: 40px 20px 20px 20px;">
  <center>
    <img src="img/error_icon.png">
    <p style="color: #e88f8f; margin: 10px; font-size: 15px;">Unable to fetch data. Try again.</p>
  </center>
</div>


    <ion-list ng-repeat="feed in feedsList track by $index">
      <i ng-if="connection" class="icon ion-heart"> Connection Error!</i>        
      <div class="card neatBorder hidden"  style="text-decoration: none; margin: 10px 0 0 0;" id="post_{{feed.postID}}"> <!-- href="#/tab/posts/{{feed.postID}}" -->

        <div class="item item-avatar item-text-wrap" ng-class="getRandomEventClass(feed.postID)">             
          <tag class="currentUserImage"/>{{getImageCode(feed.userName)}}</tag>           
          <p class="titleEvent">{{feed.userName}}</p>
          <p style="font-size: 12px;" class="titleSubEvent"><i class="icon ion-ios-clock-outline"></i> {{feed.time}}</p>                    
        </div>

        <div class="item item-body">
          <img class="full-image" ng-if="feed.flag" src="http://cmcair.in/images/posts/{{feed.postID}}.jpg">
          <h2 style="color: #2c3e50; font-weight: bold;">{{feed.title}}</h2>
          <p>{{feed.content}}</p>         
          <i ng-if="!feed.likeFlag" on-hold="viewLikes(feed.postID)" class="icon ion-android-favorite-outline" on-tap="liker(feed.postID)" id="{{feed.postID}}" style ="color:#95a5a6;"> {{feed.likes}}</i>        
          <i ng-if="feed.likeFlag" on-hold="viewLikes(feed.postID)" class="icon ion-android-favorite" on-tap="liker(feed.postID)" id={{feed.postID}} style ="color:#E90C44;"> {{feed.likes}}</i>

          <i ng-if="feed.selfFlag" on-hold="deletePost(feed.postID, $index)" class="icon ion-trash-b pull-right" on-tap="deletePost(feed.postID, $index)" id="{{feed.postID}}" style ="color:#95a5a6; float: right; font-size: 21px;"></i> 
        </div>

      </div>
    
    </ion-list>
    <i ng-if="!left && isRenderLoaded" style="margin: 20px"><center><img src="img/end.png"></center></i>
  


  <ion-infinite-scroll
        immediate-check="false"
        ng-if="left"
    on-infinite="loadMore()" 
    distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
