<ion-view view-title="Timeline" style="background: #ecf0f1;">
  <ion-content class="padding">

  <ion-refresher
    on-refresh="doRefresh()">
  </ion-refresher>

    <ion-list ng-repeat="feed in feedsList track by $index">
      <a class="card neatBorder" style="text-decoration: none;" href="#/tab/posts/{{feed.postID}}">

        <div class="item item-avatar">
          <img src="http://accelerate.net.in/cmcair/images/people/{{feed.userID}}.jpg">
          <h2>{{feed.title}}</h2>
          <p>{{feed.userName}} at {{feed.time}}</p>
        </div>

        <div class="item item-body">
          <img class="full-image" ng-if="feed.flag" src="http://accelerate.net.in/cmcair/images/posts/{{feed.postID}}.jpg">
          <p>{{feed.content}}</p>        
        </div>

      </a>
    </ion-list>

  <ion-infinite-scroll
        immediate-check="false"
        ng-if="left"
    on-infinite="loadMore()" 
    distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
