<ion-view view-title="Timeline" style="background: #ecf0f1;">
  <ion-content class="padding">

  <ion-refresher
    on-refresh="doRefresh()">
  </ion-refresher>

    <ion-list ng-repeat="feed in feedsList track by $index">
      <i ng-if="connection" class="icon ion-heart"> Connection Error!</i>        
      <div class="card neatBorder hidden"  style="text-decoration: none;" id="post_{{feed.postID}}"> <!-- href="#/tab/posts/{{feed.postID}}" -->

        <div class="item item-avatar item-text-wrap">             
          <img ng-if="feed.userflag" src="http://accelerate.net.in/cmcair/images/people/{{feed.userID}}.jpg">   
          <img ng-if="!feed.userflag" src="img/default.jpg">            
          <p>{{feed.userName}}</p>
          <p style="font-size: 12px;"><i class="icon ion-ios-clock-outline"></i> {{feed.time}}</p>                    
        </div>

        <div class="item item-body">
          <img class="full-image" ng-if="feed.flag" src="http://accelerate.net.in/cmcair/images/posts/{{feed.postID}}.jpg">
          <h2 style="color: #2c3e50; font-weight: bold;">{{feed.title}}</h2>
          <p>{{feed.content}}</p>         
          <i ng-if="!feed.likeFlag" on-hold="viewLikes(feed.postID)" class="icon ion-android-favorite-outline" on-tap="liker(feed.postID)" id="{{feed.postID}}" style ="color:#95a5a6;"> {{feed.likes}}</i>        
          <i ng-if="feed.likeFlag" on-hold="viewLikes(feed.postID)" class="icon ion-android-favorite" on-tap="liker(feed.postID)" id={{feed.postID}} style ="color:#E90C44;"> {{feed.likes}}</i>

          <i ng-if="feed.selfFlag" on-hold="deletePost(feed.postID, $index)" class="icon ion-trash-b pull-right" on-tap="deletePost(feed.postID, $index)" id="{{feed.postID}}" style ="color:#95a5a6; float: right; font-size: 21px;"></i> 
        </div>

      </div>
    
    </ion-list>
    <i ng-if="!left"><center><img src=img/end.png></center></i>
    
  <ion-infinite-scroll
        immediate-check="false"
        ng-if="left"
    on-infinite="loadMore()" 
    distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
