<ion-view view-title="Infinity">
  <ion-content>
	<div class="list">

	  <a class="item item-icon-left" href="#/tab/infinity-secretary">
	    <i class="icon ion-person-stalker"></i>
	    Secretaries
	  </a>

	  <a class="item item-icon-left" href="#/tab/infinity-head">
	    <i class="icon ion-ios-people"></i>
	    Heads
	  </a>	  


	  <a class="item item-icon-left" href="#/tab/infinity-shop">
	    <i class="icon ion-pizza"></i>
	    Shops
	  </a>	  

	  <a class="item item-icon-left" href="#/tab/infinity-emergency">
	    <i class="icon ion-help-buoy"></i>
	    Emergency
	  </a>	

	  <center>
	  <img src="http://accelerate.net.in/images/logo_shaded.png" width="20%" style="padding-top: 30px; opacity: 0.2;">
	  <p style="color: #ecf0f1; font-size: 10px;">Designed and Developed by Abhijith C S<br>www.accelerate.net.in</p>
	  </center>

	</div>

	
  </ion-content>
</ion-view>
