<ion-view view-title="Study Corner" style="background: #ecf0f1" hide-nav-bar="true">

      <ion-header-bar class="bar-positive">
         <div class="buttons" style="position: absolute; top: 5px; left: 5px; bottom: 5px; width: 100%">

            <button class="button button-clear" style="text-align: left; margin-left: 10px; font-weight: 500; color: #FFF; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 18px;">
             Study Corner
            </button>  

            <button class="button button-clear clearSearchFilterButton" style="position: absolute; top: 0px; right: 10px;" ng-click="goToTiles()">
              <i class="icon ion-arrow-return-left"></i> 
            </button>  


         </div>

      </ion-header-bar>



  <ion-content class="padding">

<!-- Loader Dummy Tiles -->
<div ng-if="!isRenderLoaded && !renderFailed">
    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>

    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>

    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>

    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>

    <div class="row" style="padding: 10px 0 0 0"> <div class="infoTile" style="width: 100%;"> <div class="infoTileHead" style="width: 40%; height: 18px; display: inline-block;"> <div class="loaderDummyTile" style="height: 18px"></div> </div> <div class="infoTileHead" style="margin-top: 10px; width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> <div class="infoTileHead" style="width: 100%; height: 15px; display: inline-block;"> <div class="loaderDummyTile" style="height: 15px"></div> </div> </div> </div>
</div>

<div ng-if="renderFailed" style="padding: 40px 20px 20px 20px;">
  <center>
    <img src="img/error_icon.png">
    <p style="color: #e88f8f; margin: 10px; font-size: 15px;">Unable to fetch data. Try again.</p>
  </center>
</div>






<div class="list card neatBorder" ng-repeat="question in testData.questions track by $index">
  <div class="item item-avatar item-text-wrap" style="background: #48ada5">
    <tag class="currentUserImage" style="color: #FFF">{{question.id}}</tag> 
    <h2 style="color: #FFF; font-size: 21px;">{{question.question}}</h2>
  </div>
  <div ng-attr-id="{{ 'question_' + question.id}}">
      <div class="item item-divider item-text-wrap" style="min-height: 45px" ng-repeat="option in question.options track by $index" ng-click="markChoice(question.id, $index+1)">
          <p style="font-size: 16px; color: #343738; font-weight: 400"><tag class="acadTestNotBubbled" ng-class="getBubbleClass(question.id, $index+1)" ng-attr-id="{{ 'ques_' + question.id + '_opt_' + ($index+1) }}">{{$index+1}}</tag> {{option}}
          </p>
      </div>
  </div>


</div>
<i ng-if="!left && isRenderLoaded" style="margin: 20px"><center><img src="img/end.png"></center></i>
  <ion-infinite-scroll
        immediate-check="false"
        ng-if="left"
    on-infinite="loadMore()"
    distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
