<ion-view view-title="Announcements">
  <ion-content class="padding">

  <button ng-if="tableMetaData.flag" class="button button-block button-energized" style="color: #2c3e50">
    {{tableMetaData.title}}
  </button>

  <ion-list ng-if="tableMetaData.flag" class="list" ng-repeat="item in tableList track by $index" style="margin-top: 300px;">
    <li class="item item-icon-left item-icon-right">
      <i class="icon" style="font-size:20px;">#{{item.rank}}</i>
      {{item.title}}
      <i class="icon" style="font-size:20px;">{{item.points}} <red style="font-size: 60%; padding-left: 10px;">Points</red></i>
    </li>
  </ion-list>


  <ion-refresher
    on-refresh="doRefresh()">
  </ion-refresher>

    <ion-list ng-repeat="feed in feedsList track by $index">
      <ion-item class="card neatBorder">


        <div class="item item-body">
          <p style="color: #2c3e50; font-size: 18px;">{{feed.content}}</p>
          <p style="color: #bdc3c7; font-size: 10px;">Posted by {{feed.user}} ({{feed.role}}) on {{feed.time}}</p>
        </div>

      </ion-item>
    </ion-list>

  <ion-infinite-scroll
        immediate-check="false"
        ng-if="left"
    on-infinite="loadMore()" 
    distance="1%">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>
