<ion-view view-title="Reach">
  <ion-content>
	<div class="list">

	  <a class="item item-icon-left" href="#/tab/infinity-secretary">
	    <i class="icon ion-person-stalker"></i>
	    Secretaries
	  </a>

	  <a class="item item-icon-left" href="#/tab/infinity-head">
	    <i class="icon ion-ios-people"></i>
	    Heads
	  </a>	  


	  <a class="item item-icon-left" href="#/tab/infinity-shop">
	    <i class="icon ion-pizza"></i>
	    Shops
	  </a>	  

	  <a class="item item-icon-left" href="#/tab/infinity-emergency">
	    <i class="icon ion-help-buoy"></i>
	    Emergency
	  </a>	

	  <center>
	  <a href="#" style="text-decoration: none;" onclick="window.open('http://www.accelerate.net.in', '_system', 'location=yes'); return false;"><img src="img/accelerate_logo.png" width="60px" style="padding-top: 30px; opacity: 0.1;">
	  <p style="color: #bdc3c7; font-size: 10px;">Developed by Accelerate</p></a><p style="margin-top:-10px; color:#505050; font-size: 10px;">Made with <i style="color: #F7384F; padding-top: 5px;" class="icon ion-heart"></i> by <a style="text-decoration: none;" onclick="window.open('https://www.facebook.com/abhijithcs1993', '_system', 'location=yes'); return false;" href="#">Abhijith C S</a> and <a style="text-decoration: none;" onclick="window.open('https://www.facebook.com/anas.jafry', '_system', 'location=yes'); return false;" href="">Anas Jafry</a></p>
	  </center>

	</div>

	
  </ion-content>
</ion-view>
