<ion-view view-title="Events">
  <ion-content>
  <ion-refresher
    on-refresh="doRefresh()">
  </ion-refresher>
<div class="list card" ng-repeat="feed in feedsList track by $index">
  <div class="item" style="background: #16a085;">
    <h2 style="color: #f1c40f; font-size: 21px">{{feed.title}}</h2>
    <p style="color: #ecf0f1;">Venue: {{feed.venue}} | Time: {{feed.time}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" ng-if="feed.flag" src="http://accelerate.net.in/cmcair/images/events/{{feed.eventID}}.jpg">
    <p>{{feed.brief}}</p>
  </div>
  <div class="item item-divider">
      <p style="font-size: 12px; color: #2c3e50">Hosted by <strong>{{feed.host}}</strong><p>
  </div>

</div>
  <ion-infinite-scroll
        immediate-check="false"
        ng-if="left"
    on-infinite="loadMore()" 
    distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
