<ion-view view-title="Reach">
  <ion-content>
	<div class="list">

	  <a class="item item-icon-left" href="#/tab/infinity-secretary" style="color: #16a085;">
	    <i class="icon ion-person-stalker"></i>
	    Union Members
	  </a>

	  <a class="item item-icon-left" href="#/tab/infinity-head" style="color: #16a085;">
	    <i class="icon ion-ios-people"></i>
	    Heads
	  </a>	  

	  <a class="item item-icon-left" href="#/tab/infinity-services" style="color: #7f8c8d;">
	    <i class="icon ion-bag"></i>
	    Services
	  </a>	 

	  <a class="item item-icon-left" href="#/tab/infinity-shop" style="color: #7f8c8d;">
	    <i class="icon ion-pizza"></i>
	    Food Joints
	  </a>	  

	  <a class="item item-icon-left" href="#/tab/infinity-emergency" style="color: #7f8c8d;">
	    <i class="icon ion-help-buoy"></i>
	    Emergency
	  </a>		 

	</div>

	
  </ion-content>
</ion-view>
