<ion-view view-title="Settings" hide-nav-bar="true">

      <ion-header-bar class="bar-positive">
         <div class="buttons" style="position: absolute; top: 5px; left: 5px; bottom: 5px; width: 100%">

            <button class="button button-clear" style="text-align: left; margin-left: 10px; font-weight: 500; color: #FFF; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 18px;">
             My Account
            </button>  
         </div>

      </ion-header-bar>


  <ion-content class="" >
  <div class="list">

    <div ng-if="flag">
      <div ng-if="adminFlag" class="item item-divider eventHead5" style="color: #FFF">
            Admin Features
      </div>
      <div ng-if="!adminFlag" class="item item-divider eventHead5" style="color: #FFF">
            Make a Post
            <p style="color: #bdc3c7"></p>
      </div>

      <a class="item item-icon-left eventHead1" style="color: #FFF; border-color: #e4265f;" href="#/tab/post-timeline">
        <i class="icon ion-compose" style="color: #bd3b59"></i>
        Post on Timeline
      </a>

      <a ng-if="adminFlag" class="item item-icon-left eventHead1" style="color: #FFF; border-color: #e4265f;" href="#/tab/post-event">
        <i class="icon ion-calendar" style="color: #bd3b59"></i>
        Create an Event
      </a>

      <a ng-if="adminFlag" class="item item-icon-left eventHead1" style="color: #FFF; border-color: #e4265f;" href="#/tab/post-announcement">
        <i class="icon ion-android-microphone" style="color: #bd3b59"></i>
        Make an Announcement
      </a>

    </div>
    <div ng-if="!flag" class="padding" style="background: #e74c3c">
      <p style="color: #FFF; font-size: 12px; font-weight: 300;">You are blocked from making posts on CMC Air. Drop a mail to editor@cmcair.in if you feel it is by mistake.</p>
    </div>



    <div class="item item-divider" style="">
          User Information
    </div>
    <li class="item item-icon-left" style="color: #9aa6ad;">
      <i class="icon ion-person"></i>
      {{userdata.name}}
    </li>
    <li class="item item-icon-left" style="color: #9aa6ad; border-color: #fbfbfb;">
      <i class="icon" style="color: #c0392b;"><ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner></i>
      {{user_mob}}
    </li>
    <li class="item item-icon-left item-text-wrap" style="color: #9aa6ad; border-color: #fbfbfb; font-size: 85%">
      <i class="icon ion-ios-loop"></i>
      Logged in since {{userdata.lastlogin}}
    </li>
    <div class="item item-divider" style="">
          Actions
    </div>

    <ion-toggle
      ng-model="pushNotification.checked"
      ng-change="pushNotificationChange()"
      ng-disabled="1">
      Notifications
    </ion-toggle>

    <li class="item item-icon-left" style="color: #c0392b; border-color: #fbfbfb;" ng-click="logoutMe()">
      <i class="icon ion-log-out"></i>
      Logout
    </li>

    <center>
      <p style="margin-top:20px; color:#505050; font-size: 12px;">Made with <i style="color: #F7384F; padding-top: 5px;" class="icon ion-heart"></i> by <a style="text-decoration: none;" onclick="window.open('https://www.accelerate.net.in', '_system', 'location=yes'); return false;" href="#">Accelerate</a></p>
    </center>

  </div>

  </ion-content>
</ion-view>
